<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
        <p>
            <small>
                {{ site.title }} is licensed under a
                <a rel="license" href="https://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>.
            <br />
                If you would like to add, remove, or fix anything on this page,
                then simply put in a <a href="https://gitlab.com/eaps/eaps.gitlab.io/edit/master/{{ page.path }}">merge request</a>.
            <br>
                updated {{ page.last_modified_at | date_to_xmlschema }}
            <br>
            <a rel="license" href="https://creativecommons.org/licenses/by-sa/4.0/">
                <img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/80x15.png" />
            </a>
            </small>
        </p>
    </div>

  </div>

</footer>
